@import "lorem-mobile.css" screen and (max-width: 736px);

#grad {
    background-image: linear-gradient(white, black);
    height: 90em;
    max-width: 100%;
    margin: auto;
}

.container {
	height: 100%;
	width: 100%;
	margin: auto;
	/*padding-top: 7em;
	padding-bottom: 7em;*/
}

.header {
	text-align: center;
    text-shadow: 2px 2px #000000;
    color: green;
    border-color: black;
}

.contentbox {
	border-color: green;
	border-style: solid;
	background-color: white;
	height: 50%;
	width: 50%;
	margin: auto;
	padding: 5%;
}

.image {
	height: 25%;
	width: 25%;
	border-style: dotted;
	float: left;
	margin-right: 5%;
}

#png {
	padding: 5%;
}

.lorem-right {
float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.big-l {
    font-size: 2em;
    font-weight: bold;
}

.rando-color {
	color: blue;
}





